# Build outputs
/rt4d-patcher-cli
/rt4d-patcher-cli.exe
/rt4d-patcher-gui
/rt4d-patcher-gui.exe
/dist/

# Go specifics
*.test
*.out
*.exe
coverage.txt
vendor/

# Editor noise
.DS_Store
.idea/
.vscode/
*.swp
